header{
    display: flex;
    background-color: beige;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px 0px 10px;
}
main{
    background-color: rgb(121, 106, 106);
    padding: 10px;
}
a{
    text-decoration: none;
    color: black;
}

section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    margin-top: 5px;
    border-radius: 15px;
}
#sobre{
    background-color: brown;
}
#produtos{
    background-color: rgb(165, 101, 42);
}
#depoimentos{
    background-color:rgb(205, 182, 50)
}