#divpai{
    display: flex;
    flex-direction: column;
    gap: 25px;
    font-family:Arial, Helvetica, sans-serif
}
#topo{
    padding: 10px;
    background-color: rgb(67, 67, 209);
    color: white;
    display: flex;
    justify-content: space-between;
}
#opcoes{
    display: flex;
    gap: 20px;
    align-self: center;
}
#colunas{
    display: flex;
    justify-content: space-evenly;
    gap: 50px;
}
#col1{
    text-align: center;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    flex-grow: 0.4;
    border-radius: 10px;
}
#col2{
    text-align: center;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    flex-grow: 0.4;
    border-radius: 10px;
}
#col3{
    text-align: center;
    background-color: rgb(235, 235, 235);
    padding: 10px;
    flex-grow: 0.4;
    border-radius: 10px;
}
#caixas{
    display: flex;
    justify-content: space-evenly;
}
#caixa1{
    text-align: center;
    background-color: rgb(221, 221, 81);
    padding: 10px;
    flex-grow: 0.476;
    border-radius: 10px;
}
#caixa2{
    text-align: center;
    background-color: rgb(221, 221, 81);
    padding: 10px;
    flex-grow: 0.476;
    border-radius: 10px;
}
#final{
    background-color: rgb(32, 32, 32);
    padding: 10px;
    display: flex;
    color: white;
    justify-content: space-around;
}
#espaco{
    display: flex;
    flex-direction: column;
    padding: 5px;
    gap: 50px;
}

a{
    text-decoration: none;
    color: white;
}