:root{
    --cor-primaria: rgb(175, 127, 55);
    --cor-secundaria: rgb(189, 156, 48);
    --cor-terciaria: rgb(241, 208, 59);
    --cor-quarta: rgb(82, 35, 20);
    --cor-fonte: rgb(238, 238, 238);
    --cor-fundo:rgb(8, 8, 8);
    --cor-confirm: green;
    --cor-cancel: red;
    --font-base: 'Arial',sans-serif;
    --small:12px;
    --regular:23px;
    --large:64px;
    --xlarge:100px;
}
body{
    padding-top: 100px;
    font-family: var(--font-base);
    font-size: var(--regular);
    line-height:1.5;
    color: var(--cor-fonte);
    background-color: var(--cor-fundo);
}
header{
    background-color: var(--cor-quarta);
    width: 100%;
}
h1,h2,h3,h4,h5,h6{
    font-weight: 600px;
    color: var(--cor-primaria);
}
a{
    color: var(--cor-secundaria);
    text-decoration: none;
}
a:hover{
    color: var(--cor-terciaria);
    text-decoration: underline;
}
button{
    padding: 10px 25px 10px 25px;
    border: none;
    border-radius: 15px;
    font-weight: bold;
}
img{
    width: 100%;
    height: auto;
}